In [1]:
# Import the depndencies
import pandas as pd
import gmaps
import requests

# Import the API key
from config import g_key

In [2]:
# Store the csv saved created in part one into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Port Alfred,ZA,2022-08-10 17:16:34,-33.5906,26.8910,62.44,81,84,7.40
1,1,Newport,GB,2022-08-10 17:14:52,51.5877,-2.9984,90.39,29,8,6.24
2,2,Jamestown,US,2022-08-10 17:14:46,42.0970,-79.2353,76.17,52,75,5.01
3,3,Puga,MX,2022-08-10 17:16:35,21.5833,-104.8167,80.67,61,75,4.61
4,4,Busselton,AU,2022-08-10 17:13:34,-33.6500,115.3333,50.59,83,11,5.26

In [3]:
# Get the data types.
city_data_df.dtypes

City ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use Google API key
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
# This would be needed if any temps were below 0. 
# google heat maps doesn't plot temps less that 0
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.15)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.15)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=5)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.15)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.15)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Jamestown,US,2022-08-10 17:14:46,42.0970,-79.2353,76.17,52,75,5.01
3,3,Puga,MX,2022-08-10 17:16:35,21.5833,-104.8167,80.67,61,75,4.61
6,6,Caravelas,BR,2022-08-10 17:16:35,-17.7125,-39.2481,79.16,58,6,14.74
7,7,Hilo,US,2022-08-10 17:16:36,19.7297,-155.0900,75.61,90,75,4.61
8,8,Albany,US,2022-08-10 17:15:08,42.6001,-73.9662,76.68,67,58,4.41
9,9,Vaini,TO,2022-08-10 17:16:36,-21.2000,-175.2000,77.16,94,20,11.50
14,14,Puerto Ayora,EC,2022-08-10 17:16:38,-0.7393,-90.3518,80.56,85,91,8.99
15,15,Tateyama,JP,2022-08-10 17:16:38,34.9833,139.8667,81.10,89,95,10.74
16,16,Padang,ID,2022-08-10 17:16:39,-0.9492,100.3543,77.79,84,53,3.44
19,19,Puerto Leguizamo,CO,2022-08-10 17:16:40,-0.1934,-74.7819,79.11,84,94,3.20

In [12]:
# Check for null values
preferred_cities_df.count()

City ID       232
City          232
Country       231
Date          232
Lat           232
Lng           232
Max Temp      232
Humidity      232
Cloudiness    232
Wind Speed    232
dtype: int64

In [15]:
# Dropped null values 
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df.count()

City ID       231
City          231
Country       231
Date          231
Lat           231
Lng           231
Max Temp      231
Humidity      231
Cloudiness    231
Wind Speed    231
dtype: int64

In [16]:
# Create a DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

            City Country  Max Temp      Lat       Lng Hotel Name
2      Jamestown      US     76.17  42.0970  -79.2353
3           Puga      MX     80.67  21.5833 -104.8167
6      Caravelas      BR     79.16 -17.7125  -39.2481
7           Hilo      US     75.61  19.7297 -155.0900
8         Albany      US     76.68  42.6001  -73.9662
..           ...     ...       ...      ...       ...        ...
553  Fort Nelson      CA     76.69  58.8053 -122.7002
554    La Orilla      MX     89.78  17.9833 -102.2333
556         Axim      GH     75.61   4.8699   -2.2405
557       Pierre      US     85.12  44.3683 -100.3510
562   Mahibadhoo      MV     81.39   3.7833   72.9667

[231 rows x 6 columns]

In [17]:
# Set the parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [24]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]['name']
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [25]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Jamestown,US,76.17,42.0970,-79.2353,Hampton Inn & Suites Jamestown
3,Puga,MX,80.67,21.5833,-104.8167,Del sol
6,Caravelas,BR,79.16,-17.7125,-39.2481,Pousada dos Navegantes
7,Hilo,US,75.61,19.7297,-155.0900,Hilo Hawaiian Hotel
8,Albany,US,76.68,42.6001,-73.9662,
...,...,...,...,...,...,...
553,Fort Nelson,CA,76.69,58.8053,-122.7002,The Fort Nelson Hotel
554,La Orilla,MX,89.78,17.9833,-102.2333,Baymont by Wyndham Lazaro Cardenas
556,Axim,GH,75.61,4.8699,-2.2405,Axim Beach Resort And Spa
557,Pierre,US,85.12,44.3683,-100.3510,Ramkota Hotel
562,Mahibadhoo,MV,81.39,3.7833,72.9667,Omadhoo Inn

In [30]:
# adding template for markers on map
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [31]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# add the layers to the figures
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))